<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Render a Scene</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script>
    function do_keypress(event){
        if (event.keyCode == 13 && event.ctrlKey) {
            render();
        }
    }
    function resolution_changed(){
        var text_elem = document.getElementById("prompt");
        var resolution = document.getElementById("resolution").value;
        var width = resolution.split("x")[0];
        text_elem.style.width = width + "px";
    }
        
    function render(){
        var text_string = document.getElementById("prompt").value;
        var resolution = document.getElementById("resolution").value;
            var xhttp = new XMLHttpRequest();
            var url = "{{ url_for('app.render') }}";
            var data = new FormData();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    image_dict = JSON.parse(this.responseText);
                    var elem = document.getElementById("image_tag");
                    elem.src = 'data:image/png;base64,' + image_dict['image_data'];
                   
                }
            };
            xhttp.open("POST", url, true);
            data.append('prompt', text_string);
            data.append('resolution', resolution);
            xhttp.timeout = 360000;
            xhttp.send(data);
    }
    </script>
</head>
<body>
    <div>
        <table>
        <tr><td>
        <div style="padding-left: 100px; padding-top 50px;">
            <h1> Describe a Scene </h1>
                    <table>
                        <tr>
                        <td><img src="data:image/png;base64,{{ image_data }}" alt="image_render"  id="image_tag"/></td> 
                    </tr>
                    <tr>
                        <td>
                            <textarea rows=10 style="width: {{width}}px; background-color: #222; color: #ddd;" 
                                name="prompt" id="prompt" onkeydown="do_keypress(event)">{{ prompt }}</textarea>    
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="processSubmit" name="render" style="width: 100%;" onclick="render()">Render (Ctrl+Enter)</button>
                        </td>
                    </tr>
                </table>
        </div>
        </td>
        <td>
        <div>
            <label for="resolution">Resolution</label>
            <select name="resolution" id="resolution" value="{{ resolution }}" onchange="resolution_changed()">
                <option value="640x360"
                    {% if resolution == "640x360" %}
                        selected
                        {% endif %}>640x360</option>
                
                <option value="720x404"
                    {% if resolution == "720x404" %}
                        selected
                        {% endif %}>720x404</option>
                
                <option value="1280x720"
                    {% if resolution == "1280x720" %}
                        selected
                        {% endif %}>1280x720</option>
                    
                <option value="1920x1080"
                    {% if resolution == "1920x1080" %}
                        selected
                        {% endif %}>1920x1080</option>
            </select>
        </div>
        </td></tr>
        </table>
    </div>
</body>
</html>
