<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Render a Scene</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script>
    function do_keypress(event){
        if (event.keyCode == 13 &&  event.ctrlKey) {
            document.getElementById("processSubmit").click();
        }
    }
    </script>
</head>
<body>
    <form method="POST" id="page_form">
    <div>
        <table>
        <tr><td>
        <div style="padding-left: 100px; padding-top 50px;">
            <h1> Describe a Scene </h1>
                <table>
                    <tr>
                        <td><img src="data:image/png;base64,{{ image_data }}" alt="image_render"  id="imgslot"/></td> 
                    </tr>
                    <tr>
                        <td>
                            <textarea rows=10 style="width: {{width}}px; background-color: #222; color: #ddd;" 
                                name="prompt" onkeydown="do_keypress(event)">{{ prompt }}</textarea>    
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" id="processSubmit" name="submit" value="Submit" style="width: 100%;"/>
                        </td>
                    </tr>
                </table>
        </div>
        </td>
        <td>
        <div>
            <label for="resolution">Resolution</label>
            <select name="resolution" value="{{ resolution }}">
                <option value="640x360"
                    {% if resolution == "640x360" %}
                        selected
                        {% endif %}>640x360</option>
                
                <option value="720x404"
                    {% if resolution == "720x404" %}
                        selected
                        {% endif %}>720x404</option>
                
                <option value="1280x720"
                    {% if resolution == "1280x720" %}
                        selected
                        {% endif %}>1280x720</option>
                    
                <option value="1920x1080"
                    {% if resolution == "1920x1080" %}
                        selected
                        {% endif %}>1920x1080</option>
            </select>
        </div>
        </td></tr>
        </table>
    </div>

    </form>
</body>
</html>
