<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload CSV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_style.css') }}">
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
    <div style="padding-left: 100px; padding-top 50px">
    <h1> Create Acknowledgement Letters From CSV </h1>
        <input type="file" id="myfile" name="csvfile"><br>
        <input type="submit" name="submit" value="Submit">
    </div>
    </form>
</body>
</html>
